.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: transparent;
    padding: 32px 0;
    margin-bottom: 64px;
}

.cta-header {
    background-color: #184e77;
    padding: 6px 12px;
    border-radius: 12px;
}
.cta-header:hover {
    background-color: #34a0a4;
}

.cta-link {
    text-decoration: none;
    font-weight: bold;
    
    color: white !important;
}

.cta-logo-container {
    width: 256px;
}
