.gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
}

.gallery-title {
    text-align: center;
    margin-bottom: 64px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 964px;
}
.video-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 964px;
    margin-bottom: 32px;
}

.gallery-image {
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-video {
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image-solo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 8px;
    max-height: 316px
}

.image-border {
    display: flex;
    max-height: 300px;
    margin: 0;
    border: #184e77 solid 8px;
}

.video-border {
    max-height: 300px;
    margin: 0;
    border: #184e77 solid 8px;
}

@media only screen and (max-width: 964px) 
{
    .gallery-grid {
        display: grid;
        grid-template-columns: calc(98vw / 3) calc(98vw / 3) calc(98vw / 3);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2px;
    }

    .video-grid {
        grid-template: "a b" 1fr "c c" 1fr / 1fr 1fr;
    }

    .gallery-video:last-child {
        max-width: 100%;
        grid-area: c;
    }

    .image-border {
        border: #184e77 solid 2px;
    }
    .video-border {
        border: #184e77 solid 2px;
    }
}
